GEMINI_API_KEY=
CREDORA_API_KEY=
PRIVATE_KEY=
SEPOLIA_RPC_URL=
ARBITRUM_SEPOLIA_RPC_URL=
CCIP_ROUTER_SEPOLIA=
CCIP_ROUTER_ARBITRUM=
CHAINLINK_DATA_FEED_USDC_USD=
NEXT_PUBLIC_TREASURY_ADDRESS=
NEXT_PUBLIC_GOVERNANCE_ADDRESS=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
DATABASE_URL=
REDIS_URL=
