# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Hardhat
packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/typechain-types/
packages/contracts/deployments/*.json

# Environment
.env

# Misc
.DS_Store
